body {
  margin: 0;
  background-color: black;
}

h5 {
  font-size: 16px;
  background-color: powderblue;
}

actionlink {
  color: blue;
  text-decoration: underline;
}

actionlink:hover {
  cursor: pointer;
}

textarea {
  resize: none;
}

#client {
  width: 500px;
  margin: auto;
  height: 100vh;
  text-align: center;
  background-color: gainsboro;
}

#stickers {
  bottom: 0px;
  position: relative;
}

#chatbox {
  width: 100%;
  height: 200px;
  background-color: white;
}

.add-scroll {
  overflow-y: auto;
}

.blue {
  color: blue;
}